<div class="chatContainer">
    <header>
        <h3 class="userName"></h3>
        <p class="typing"></p>
    </header>
    <main>
        <div class="chatMessage"></div>
    </main>
    <footer>
        <input type="text" placeholder="Message" id="inputMessage"/>
        <button id="btnMessage">Enviar</button>
    </footer>
</div>